[Unit]
Description=LCG Spring Boot Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/lcg
ExecStart=/usr/bin/java -jar /opt/lcg/app.jar
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lcg-app

[Install]
WantedBy=multi-user.target